body {
    font-family: "Bodoni 72 Oldstyle";
}

.homeText {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
}

.homeText h1 {
    background: -webkit-linear-gradient(#dd7500, #222);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 5px 10px #444444;
}

.homeText p {
    background: -webkit-linear-gradient(#dd7500, #222);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 5px 10px #444444;
}

.aboutText {
    width: 80%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container h1 {
    background: -webkit-linear-gradient(#333, #eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 5px 5px #444444;
}

p {
    width: 80%;
    margin: 0 auto;
    background: -webkit-linear-gradient(#dd7500, #222);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px #444444;
    font-size: 24px;
}

.portfolioText {
    background-color: transparent;
    background: -webkit-linear-gradient(#dd7500, #222);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h4, h5 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #dd7500;
    text-align: center;
    font-size: 12px;
    width: 80%;
}

.footNote {
    background: transparent;
    padding: 20px;
}

@media screen and (max-width: 698px) {
    .homeText {
        font-size: 4vw;
    }
    .aboutText {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3vw;
    }
}