* {
	box-sizing: border-box;
}

body {
    margin: 0 auto;
    text-align: center;
}

a.anchor {
    display: block;
    position: relative;
    visibility: hidden;
}



.contactMenu {
    background: transparent;
    width: 100%;
    height: 0;
    position: sticky;
    top: 90%;
    z-index: 1;
}

#contactIcons {
    display: table;
    margin: 0 auto;
    background: transparent;
}

#contactLinks {
    list-style: none;
}

#contactLinks li {
    display: inline-block;
}

#contactLinks a {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    text-decoration: none;
}

.gitHub, .twitter, .email, .linkedIn {
    background: transparent;
    width: 10%;
}

.hero {
    position: relative;
}

.heroImage {
    width: 99%;
    height: 650px;
    border-radius: 25px;
    margin-top: 10px;
}

.homePage {
    position: relative;
}

.aboutMe {
    width: 98.5%;
    height: 650px;
    position: relative;
    border: 1px solid #444444;
    box-shadow: 5px 5px #222222;
    border-radius: 25px;
    margin: 8px;
    z-index: 0;
}

.homeText, .aboutText {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
}

.portfolioText {
    background-color: #999999;
    padding: 25px;
}

.aboutMeBoxes {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    width: 300px;
    height: 100px;
    text-decoration: none;
    border-radius: 8px;
    color: #00ffff;
    background-color: #444444;
}

.projectBlocks {
    display: inline-block;
    width: 100%;
    background: #999999;
    padding: 30px;
}

.projectBox {
    float: left;
    width: 25%;
    height: 190px;
    border-bottom: 5px solid #999999;
}

.projectPics:hover {
    opacity: 1;
}

.projectPics {
    opacity: 0.3;
    width: 100%;
    height: 200;
}
@media screen and (max-width: 698px) {
    .aboutMe {
        height: 800px;
    }

    .aboutMeBoxes {
        position: absolute;
        top: 58%;
    }

    .projectBox, .projectPics {
        float: left;
        width: 100%;
        height: 300px;
     }

    .projectSummary {
        height: 200px;
    }
    .gitHub, .twitter, .email, .linkedIn {
        display: none;
    }
}