body {
    font-family: "Bodoni 72 Oldstyle";
}

.homeText {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
}

.homeText h1 {
    background: -webkit-linear-gradient(#dd7500, #222);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 5px 10px #444444;
}

.homeText sub {
    background: -webkit-linear-gradient(#dd7500, #222);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 5px 10px #444444;
}

.aboutText {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.3vw;
}

.aboutText h1 {
    background: -webkit-linear-gradient(#333, #eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 5px 10px #444444;
}

.aboutText sub {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px 5px 10px #444444;
}

.footNote {
    font-family: "Bodoni 72 Oldstyle";
    background: transparent;
    padding: 20px;

}

@media screen and (max-width: 698px) {
    .homeText {
        font-size: 2.9vw;
    }
    .aboutText {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3vw;
    }
}